body {
  font-family: "Roboto",sans-serif;
}

.wolken-primary {
  color: #fff;
  background: #1A73E8;
}

.wolken-accent {
  color: #1A73E8;
  background: #fff;
}

.wolken-button {
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Google Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .6px;
  line-height: 24px;
  padding-bottom: 6px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 6px;
  pointer-events: initial;
  text-transform: none;
  transform: scale(1, 1);
  transition: transform 300ms ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  border: none;
  outline: 0;
}

.wolken-fab-button {
  cursor: pointer;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  border: none;
  outline: 0;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .6px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.wolken-card {
  box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3), 0px 2px 6px 2px rgba(60,64,67,0.15);
  background: #fff;
  padding: 15px 20px;
  border-radius: 1px;
  font-size: 14px;
}

.wolken-card-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wolken-card-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

